p.title { 
	font-weight: bold;
	color: Blue;
	font-size: 300%;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

p.subtitle {
	font-weight: bold;
	font-size: 175%;
	text-align: center;
}

p.footer {
	font-weight: bold;
	font-size: 85%;
	text-align: left;
}

p.mini {
	font-size: 100%;
	text-align: center;
}

p.form {
	font-weight: bold;
	font-size: 125%;
	text-align: center;
}

textarea.form {
	height: 8em;
	width: 50em;
	font-size: 125%;
	resize: none;
}